<footer class="footer text-white py-5">
    <div class="container">
        <div class="row">
            <!-- About Section -->
            <div class="col-lg-4 col-md-6 mb-4">
                <h5>About ShopAM</h5>
                <p>At ShopAM, we provide premium camping and hiking equipment for all your outdoor adventures. Our mission is to ensure that you have the best gear for a memorable and safe journey.</p>
            </div>
            
            <!-- Quick Links Section -->
            <div class="col-lg-2 col-md-6 mb-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a routerLink="/" class="text-white">Home</a></li>
                    <li><a routerLink="/shop" class="text-white">Shop</a></li>
                    <li><a routerLink="/about" class="text-white">About </a></li>
                    <li><a routerLink="/contact" class="text-white">Contact</a></li>
                </ul>
            </div>

            <!-- Contact Info Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-map-marker-alt"></i> 123 Adventure St, Montenegro</li>
                    <li><i class="fas fa-phone"></i> +382 123 456</li>
                    <li><i class="fas fa-envelope"></i> infoshopam.com</li>
                </ul>
            </div>

            <!-- Social Media Section -->
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Follow Us</h5>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-facebook fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-twitter fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a></li>
                </ul>
            </div>
        </div>

        <!-- Footer Bottom -->
        <div class="row text-center mt-4">
            <div class="col">
                <p>&copy; 2024 ShopAM. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
